.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.potta-one-regular {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--tg-theme-text-colot);
  background: var(--tg-theme-bg-color);
}




.continer {
  background-color: black;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.look {
  margin-bottom: 30px;
  
}
.img-box img{
  width: 20%;
  height: 20%;
  border-radius:100%;
  box-shadow: rgba(255, 249, 0, 0.34) 0px 0px  100px 20px, rgba(255, 238, 3, 0.38) 0px 0px 60px 20px;
}

.img-box {
  border-radius:100%;
  margin-bottom: 10px;
}

.name {
  color: white;
  font-size: medium;
}
.inf {
  background: rgba(167, 166, 166, 0.281);
  padding: 10px;
  min-width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #b3b0b098;
}

.inf hr{
  width: 97%;
  color: rgb(128, 128, 128);
  align-items: center;
  margin: 0 auto 6px;
}


.item {
  display: flex;
  justify-content: space-between;
}

.prename{
  font-size: xx-small;
  color: rgb(128, 128, 128);
}

.tip{
  font-size: x-small;
  color: white;
}


